<img *ngIf="multiBalanza1[0] >= 1" src="{{dibujos[figurasMostrada1[0]].ruta}}" title="{{dibujos[figurasMostrada1[0]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[0] >= 2" src="{{dibujos[figurasMostrada1[0]].ruta}}" title="{{dibujos[figurasMostrada1[0]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[0] >= 3" src="{{dibujos[figurasMostrada1[0]].ruta}}" title="{{dibujos[figurasMostrada1[0]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza1[1] >= 1" src="{{dibujos[figurasMostrada1[1]].ruta}}" title="{{dibujos[figurasMostrada1[1]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[1] >= 2" src="{{dibujos[figurasMostrada1[1]].ruta}}" title="{{dibujos[figurasMostrada1[1]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[1] >= 3" src="{{dibujos[figurasMostrada1[1]].ruta}}" title="{{dibujos[figurasMostrada1[1]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza1[2] >= 1" src="{{dibujos[figurasMostrada1[2]].ruta}}" title="{{dibujos[figurasMostrada1[2]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[2] >= 2" src="{{dibujos[figurasMostrada1[2]].ruta}}" title="{{dibujos[figurasMostrada1[2]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[2] >= 3" src="{{dibujos[figurasMostrada1[2]].ruta}}" title="{{dibujos[figurasMostrada1[2]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza1[3] >= 1" src="{{dibujos[figurasMostrada1[3]].ruta}}" title="{{dibujos[figurasMostrada1[3]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[3] >= 2" src="{{dibujos[figurasMostrada1[3]].ruta}}" title="{{dibujos[figurasMostrada1[3]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[3] >= 3" src="{{dibujos[figurasMostrada1[3]].ruta}}" title="{{dibujos[figurasMostrada1[3]].valor}}" height="50" width="50"/>&nbsp;
<br/>

<b>Suma: {{sumaB1}}</b>

<hr/>

<img *ngIf="multiBalanza2[0] >= 1" src="{{dibujos[figurasMostrada2[0]].ruta}}" title="{{dibujos[figurasMostrada2[0]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[0] >= 2" src="{{dibujos[figurasMostrada2[0]].ruta}}" title="{{dibujos[figurasMostrada2[0]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[0] >= 3" src="{{dibujos[figurasMostrada2[0]].ruta}}" title="{{dibujos[figurasMostrada2[0]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza2[1] >= 1" src="{{dibujos[figurasMostrada2[1]].ruta}}" title="{{dibujos[figurasMostrada2[1]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[1] >= 2" src="{{dibujos[figurasMostrada2[1]].ruta}}" title="{{dibujos[figurasMostrada2[1]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[1] >= 3" src="{{dibujos[figurasMostrada2[1]].ruta}}" title="{{dibujos[figurasMostrada2[1]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza2[2] >= 1" src="{{dibujos[figurasMostrada2[2]].ruta}}" title="{{dibujos[figurasMostrada2[2]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[2] >= 2" src="{{dibujos[figurasMostrada2[2]].ruta}}" title="{{dibujos[figurasMostrada2[2]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[2] >= 3" src="{{dibujos[figurasMostrada2[2]].ruta}}" title="{{dibujos[figurasMostrada2[2]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza2[3] >= 1" src="{{dibujos[figurasMostrada2[3]].ruta}}" title="{{dibujos[figurasMostrada2[3]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[3] >= 2" src="{{dibujos[figurasMostrada2[3]].ruta}}" title="{{dibujos[figurasMostrada2[3]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza2[3] >= 3" src="{{dibujos[figurasMostrada2[3]].ruta}}" title="{{dibujos[figurasMostrada2[3]].valor}}" height="50" width="50"/>&nbsp;
<br/>

<b>Suma: {{sumaB2}}</b>
