
<div class="balanza">
    <div class="platillo1">
        <div class="figuras" *ngFor="let x of dibujosBalanza1; index as i" > 
            <img  *ngFor="let y of numSequence(multiBalanza1[i])" src="{{x.ruta}}" title="{{x.valor}}" height="20" width="20"/> 
        </div>
       
    </div>

    <div class="platillo2" >
        <div class="figuras"  *ngFor="let x of dibujosBalanza2;index as e" >
            <div *ngIf=!pregunta>
                <img *ngFor="let y of numSequence(multiBalanza2[e])" src="{{x.ruta}}" title="{{x.valor}}" height="20" width="20"/>
            </div>    
        </div>
</div>
