@font-face {
    font-family: digital;
    src:url("/assets/font/digital-7.ttf") format("truetype");
}


button{
    margin:5px;
}


.caja-reloj{
    background-color: rgb(32, 32, 32);
    outline: 5px solid #aaa;
    outline-offset: 0px;
    padding: 10px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.reloj{
    font-family: digital;
    color: red;
    font-size: 40px;
}


.img1{
    position:relative;
    top:11px;
    left: 10px;
    width: 50px;
    height: 50px;
    /* box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34); */ 
}
.img2{
    position:relative;
    top:-39px;
    left: 60px;
    width: 50px;
    height: 50px;
  /*  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}
.img3{
    position:relative;
    top:-89px;
    left: 110px;
    width: 50px;
    height: 50px;
   /* box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}
.img4{
    position:relative;
    top:-89px;
    left: 10px;
    width: 50px;
    height: 50px;
  /*  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}
.img5{
    position:relative;
    top:-139px;
    left: 60px;
    width: 50px;
    height: 50px;
  /*  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}
.img6{
    position:relative;
    top:-189px;
    left: 110px;
    width: 50px;
    height: 50px;
   /* box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}
.img7{
    position:relative;
    top:-189px;
    left: 10px;
    width: 50px;
    height: 50px;
  /*  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}
.img8{
    position:relative;
    top:-239px;
    left: 60px;
    width: 50px;
    height: 50px;
   /* box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}
.img9{
    position:relative;
    top:-289px;
    left:110px;
    width: 50px;
    height: 50px;
   /* box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.34);*/
}

.caja{
  
    background-color:  #e7e7e7;
    outline: 5px solid #aaa;
    outline-offset: 0px;
    padding-left: 50px;
    width: 231px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 40px;

}

