<div>
    <button mat-raised-button color="primary" (click)="iniciar()">Iniciar</button>
    <button mat-raised-button color="primary" (click)="finalizar()">Finalizar</button>
    <button mat-raised-button color="primary" (click)="guardar()">Guardar resultados</button>
</div>

<div class="caja-reloj">
    <p class="reloj">{{reloj}}</p>          
</div>


<div class="caja"  >
    <div class="img1"><img id="c1" src="{{cubos[0]}}"></div>
    <div class="img2"><img id="c2" src="{{cubos[1]}}"  ></div>
    <div class="img3"><img id="c3" src="{{cubos[2]}}" ></div>
    <div class="img4"><img id="c4" src="{{cubos[3]}}"></div>
    <div class="img5"><img id="c5" src="{{cubos[4]}}"></div>
    <div class="img6"><img id="c6" src="{{cubos[5]}}"></div>
    <div class="img7"><img id="c7" src="{{cubos[6]}}"></div>
    <div class="img8"><img id="c8" src="{{cubos[7]}}"></div>
    <div class="img9"><img id="c9" src="{{cubos[8]}}"></div>
</div>


