.cajaoperacion{
    border-width: 1px;
    margin: 15px;
    width: 150px;
    min-height: 160px;
    text-align:right;
    padding: 10px;
    background: rgb(46, 46, 46);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(186,186,240,1) 0%, rgba(255,255,255,1) 100%);
}


.numero{
    font-size: 20px;
    padding-bottom: 4px;
}

.resultado{
    font-size:15;
    padding-top: 4px;
    color:rgb(122, 122, 122);
    font-weight: bold;
}


