

<div class="caja-reloj">
    <p class="reloj">{{reloj}}</p>       
</div>

<div  [formGroup]="semejanzasForm">
 <mat-card class="contenedor">
    <mat-card-header>
        <mat-card-title>(1) Comprensión verbal: Vocabulario y Semejanzas</mat-card-title>
        <mat-card-subtitle>A partir de dos palabras generadas aleatoriamente explicar diferencias y semejanzas</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="semejanzas">

        
       <a  *ngIf="terminado" target="_blank" href="https://dle.rae.es/{{this.semejanzasForm.controls['semejanza1'].value}}">[ver]</a>
         <mat-form-field >  
            <mat-label>Primera palabra a comparar</mat-label>
            <input matInput  type="text" formControlName="semejanza1" [readonly]="true" >
        </mat-form-field>
        
        <a *ngIf="terminado" target="_blank" href="https://dle.rae.es/{{this.semejanzasForm.controls['semejanza2'].value}}">[ver]</a>
        <mat-form-field>        
            <mat-label>Segunda palabra a comparar</mat-label>
            <input matInput  type="text" formControlName="semejanza2" [readonly]="true">
           
        </mat-form-field>
       

            <textarea rows="20" cols="100" ></textarea>
        <mat-form-field style="width: 300px">        
            <mat-label>Indicar valoracion del 1 al 10</mat-label>
            <input matInput  type="number" formControlName="puntuacion" >
        </mat-form-field>
           
        
    </mat-card-content>    
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="generar()">Iniciar</button>
        <button mat-raised-button color="primary" (click)="finalizar()">Finalizar</button>
        <button mat-raised-button color="warn" (click)="guardar()">Guardar resultado</button>
        
    </mat-card-actions>
   </mat-card> 
   
</div>








