

<h3>Comprensión verbal</h3><hr/>
<div>
    <h2>Semejanzas:</h2>
    <p>A partir de dos palabras generadas aleatoriamente explicar diferencias y semejanzas</p>
    <button mat-raised-button color="primary" (click)="generarS1()">Generar semejanza primera</button>
    <input type="text"><input type="text">

    
    <button mat-raised-button color="primary" (click)="generarS2()">Generar semejanza segunda</button>
    <input type="text"><input type="text">
    <textarea></textarea>
</div>








