<h3>Comprensión verbal</h3><hr/>
<div>
<p>Semejanzas:</p>
<p>A partir de dos palabras generadas aleatoriamente explicar diferencias y semejanzas</p>
<a href="https://www.generadoraleatorio.com/palabras/" target="blanck">Generador</a>
<input type="text"><input type="text">
</div>


<div>
    <p>Vocabulario:</p>
    <p>A partir de una palabra generada aleatoriamente explicar su significado</p>
    <a href="https://www.generadoraleatorio.com/palabras/" target="blanck">Generador</a>
    <input type="text">
</div>


<div>
    <p>Cultura general:</p>
    <p>Usar el cuestionario de cultura general y consultar más información</p>
    <a href="https://www.hacertest.com/cultura/general/" target="blanck">Questionario</a>
</div>
