<div class="figuras">
<div class="caja">  
        <div  *ngFor="let x of dibujosBalanza1; index as i" > 
            <img  *ngFor="let y of numSequence(multiBalanza1[i])" src="{{x.ruta}}" title="{{x.valor}}" height="20" width="20"/> 
        </div> 
 </div>
        <div class="caja">
        <div  *ngFor="let x of dibujosBalanza2; index as i" > 
            <img  *ngFor="let y of numSequence(multiBalanza2[i])" src="{{x.ruta}}" title="{{x.valor}}" height="20" width="20"/> 
        </div> 
</div>
<div class="caja">
        <div  *ngFor="let x of dibujosBalanza3; index as i" > 
            <img  *ngFor="let y of numSequence(multiBalanza3[i])" src="{{x.ruta}}" title="{{x.valor}}" height="20" width="20"/> 
        </div> 
</div>
<div class="caja">
        <div  *ngFor="let x of dibujosBalanza4; index as i" > 
            <img  *ngFor="let y of numSequence(multiBalanza4[i])" src="{{x.ruta}}" title="{{x.valor}}" height="20" width="20"/> 
        </div>    
</div>
</div>
