.cajaoperacion{
    border-width: 1px;
    margin: 15px;
    width: 170px;
    text-align:right;
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(186,186,240,1) 0%, rgba(255,255,255,1) 100%);
}
.cajaoperacion p{
    padding: 0px;
    margin: 0px;
}

.fondoOperacion{
    text-align:left;
}

.resultado-suma{
    border-top-style: inset;
    border-top-width: 1px;
}

.operacion{
    position: absolute;
    top: 30px;
    font-size: large; 
    left:15px;
}