<div class="cajaSimbolos">
    <img src={{muestra}}>
    <div class="espaciador">&nbsp;</div>
    <img src={{rutas[0]}} (click)="valida(0)" [ngClass]="{'seleccionado': selected[0]}">
    <img src={{rutas[1]}} (click)="valida(1)" [ngClass]="{'seleccionado': selected[1]}">
    <img src={{rutas[2]}} (click)="valida(2)" [ngClass]="{'seleccionado': selected[2]}">
    <img src={{rutas[3]}} (click)="valida(3)" [ngClass]="{'seleccionado': selected[3]}">
    <img src={{rutas[4]}} (click)="valida(4)" [ngClass]="{'seleccionado': selected[4]}">
    <img src={{rutas[5]}} (click)="valida(5)" [ngClass]="{'seleccionado': selected[5]}">
    <img src={{rutas[6]}} (click)="valida(6)" [ngClass]="{'seleccionado': selected[6]}">
    <img src={{rutas[7]}} (click)="valida(7)" [ngClass]="{'seleccionado': selected[7]}">
    <img src={{rutas[8]}} (click)="valida(8)" [ngClass]="{'seleccionado': selected[8]}">
    <img src={{rutas[9]}} (click)="valida(9)" [ngClass]="{'seleccionado': selected[9]}">

</div>

