.cajaSimbolos{
    display:flex;
    margin:15px;
    flex-wrap: wrap;
}

.cajaMuestras{
    border-width: 2px;
    border-style: solid;
    border-color: darkgrey;
    text-align: center;

}

img{
    padding:5px;

    cursor:pointer;
}

.espaciador{
    width: 5px;
    background-color: gray;
    margin-left: 50px;
    margin-right: 50px;
}

.seleccionado{
    border-width: 3px;
    border-style: solid;
    border-color: green;
}

