<p>balanzas works!</p>

<img *ngIf="multiBalanza1[0] >= 1" src="{{dibujos[figurasMostrada[0]].ruta}}" title="{{dibujos[figurasMostrada[0]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[0] >= 2" src="{{dibujos[figurasMostrada[0]].ruta}}" title="{{dibujos[figurasMostrada[0]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[0] >= 3" src="{{dibujos[figurasMostrada[0]].ruta}}" title="{{dibujos[figurasMostrada[0]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza1[1] >= 1" src="{{dibujos[figurasMostrada[1]].ruta}}" title="{{dibujos[figurasMostrada[1]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[1] >= 2" src="{{dibujos[figurasMostrada[1]].ruta}}" title="{{dibujos[figurasMostrada[1]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[1] >= 3" src="{{dibujos[figurasMostrada[1]].ruta}}" title="{{dibujos[figurasMostrada[1]].valor}}" height="50" width="50"/>&nbsp;
<br/>
<img *ngIf="multiBalanza1[2] >= 1" src="{{dibujos[figurasMostrada[2]].ruta}}" title="{{dibujos[figurasMostrada[2]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[2] >= 2" src="{{dibujos[figurasMostrada[2]].ruta}}" title="{{dibujos[figurasMostrada[2]].valor}}" height="50" width="50"/>&nbsp;
<img *ngIf="multiBalanza1[2] >= 3" src="{{dibujos[figurasMostrada[2]].ruta}}" title="{{dibujos[figurasMostrada[2]].valor}}" height="50" width="50"/>&nbsp;
<br/>

<b>Suma: {{sumaB1}}</b>

<hr/>


