
<h2 style="text-align: center;">(4) Razonamiento perceptivo: Peso figurado</h2>
<h3 style="text-align: center;">Indique el peso correcto</h3><hr/>


<div class="muestra">
    <app-platillos [dibujos] = dibujos></app-platillos>
    <app-platillos [dibujos] = dibujos></app-platillos>
    <app-platillos [dibujos] = dibujos ></app-platillos>
</div>
  <div class="muestra">
    <app-platillos [dibujos] = dibujos></app-platillos>
    <app-platillos [dibujos] = dibujos></app-platillos>
    <app-platillos [dibujos] = dibujos [pregunta] = true (solucionEvent)=getSolucion($event)></app-platillos>
</div>
<div class="muestra">
  <app-respuestas  [valor] = solucion [dibujos]="dibujos"  ></app-respuestas>
</div>