@font-face {
    font-family: digital;
    src:url("/assets/font/digital-7.ttf") format("truetype");
}



.caja-reloj{
    background-color: rgb(32, 32, 32);
    outline: 5px solid #aaa;
    outline-offset: 0px;
    padding: 10px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.reloj{
    font-family: digital;
    color: red;
    font-size: 40px;
}

.resultado{
    color:white;
    width: 100px;
}

.ngenerado{
    width: 300px;
    outline: 3px solid #aaa;
    text-align: right;
    margin: 40px;
}

.ngenerado h1{
    padding:3px;
}

button{
    margin:5px;
}
table{
    margin-left: 5px;
}