<div [formGroup]="memoriaForm">
    <button mat-raised-button color="primary" (click)="iniciar()">Iniciar</button>
    <button mat-raised-button color="primary" (click)="finalizar()">Finalizar</button>
    <button mat-raised-button color="warn" (click)="guardar()">Guardar resultados</button>
    
    <div class="caja-reloj">
        <p class="reloj">{{reloj}}</p>          
    </div>
    <h2 style="text-align: center;">(7) Memoria de trabajo: Retención de dígitos</h2>
    <div style="text-align: center">Memorice los siguientes {{num}} números y después escríbalos según el orden de aparición:</div>
    <div class="ngenerado"><h1>{{generado}}</h1></div>
   
    
    <div>
        <table  >
            <tr>
                <td>  (1)
                    <mat-form-field> 
                       <input matInput  type="text" formControlName="generado0" [readonly]="previo">
                    </mat-form-field> 
                    
                </td>

                <td>(2)
                    <mat-form-field> 
                        <input matInput  type="text" formControlName="generado1"  [readonly]="previo">
                    </mat-form-field>
                   
                </td>

                <td>
                    (3)
                    <mat-form-field> 
                        <input matInput  type="text" formControlName="generado2"  [readonly]="previo">
                    </mat-form-field>
                  
                
                </td>
                <td rowspan="2" *ngIf="previo">
                    <p class="ayudanumero" *ngFor="let n of ayuda">{{n}}</p>
                </td>
               

            </tr>

            <tr>
                
                <td>(4)
                    <mat-form-field> 
                        <input matInput  type="text" formControlName="generado3"  [readonly]="previo">
                    </mat-form-field>
                   
                </td>
       
                <td>(5)
                    <mat-form-field> 
                        <input matInput  type="text" formControlName="generado4"  [readonly]="previo">
                    </mat-form-field>
                    
                </td>
           </tr>
                
        </table>

        <div *ngIf="terminado">
            <mat-card class="resultados">
                <mat-card-title>Resultados:</mat-card-title>
            <mat-card-content> 
                <p *ngFor="let elem of array">{{elem}}</p> 
            </mat-card-content>
            <mat-card-footer><hr/>Puntuacion: {{puntuacion}} sobre {{num}}</mat-card-footer>
            </mat-card> 
        </div>

    </div>
</div>



