.cajaoperacion{
    border-width: 1px;
    margin: 15px;
    width: 170px;
    text-align:right;
    padding: 10px;
}
.cajaoperacion p{
    padding: 0px;
    margin: 0px;
}

.fondoOperacion{
    text-align:left;
}

.resultado-suma{
    border-top-style: inset;
    border-top-width: 1px;
}